.hero-section {
    position: sticky;
    top: 0;
    display: grid;
    height: 150vh;
    --left-width: clamp(40vw, 40rem, 50vw);
    grid-template-columns: var(--left-width) 1fr;
    font-family: "Roboto", sans-serif;
    transform: translateX(-2rem);
}

body {
    padding: 0 0 0 2rem;
}

.hero__left {
    position: relative;
    top: 3rem;
    display: block;
    width: 100%;
    text-align: justify;
    /* position: absolute; */
    /* width: 50rem;
    max-width: 60%; */
    border-right: 1px solid var(--text-color);
    background-color: var(--body-bg);
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.8;
    z-index: 10;
}

.left__inner {
    position: relative;
    /* width: var(--left-width); */
    width: var(--left-width);
    --left-padding: calc(2rem + 3vw);
    padding: 7rem var(--left-padding) 0;
    height: 100%;
}

.left__content {
    padding-right: 2rem;
    font-size: 0.9rem;
}

.left__heading {
    font-weight: 100;
    font-size: 6rem;
    margin-bottom: 2rem;
    line-height: 0.9;
}

.left__quote {
    font-style: italic;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
}

.hero__left p + p {
    margin-top: 0.5em;
    font-style: italic;
    letter-spacing: 0.1rem;
}

.hero__right {
    position: relative;
    max-width: calc(100vw - var(--left-width));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    /* transform: translateX(-10%); */
    z-index: 0;
}

.hero__top {
    position: relative;
    /* margin-left: calc(1rem + 2vw); */
    width: 100%;
    max-width: calc(40rem + 12vw);
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
    z-index: 150;
}

.hero__heading {
    position: relative;
    /* width: max-content;
    font-size: clamp(5rem, 2.6vw + 2.6rem, 8rem); */
    font-size: 8vw;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 1;
    user-select: none;
    z-index: 60;
}

.hero__heading2 {
    position: absolute;
    width: max-content;
    top: 33%;
    left: -35%;
    font-size: 8rem;
    font-weight: 300;
}

.hero__clip {
    color: var(--primary-blue);
    -webkit-text-stroke-width: 1px;
    clip-path: inset(0 20% 0 38.5%);
    z-index: 200;
}

.hero__desc {
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.1rem;
    line-height: 2;
}

.window-gallery {
    width: max-content;
    display: flex;
    gap: calc(1rem + 1vw);
    justify-content: center;
}

.window-wrapper {
    position: relative;
    display: block;
    width: 20rem;
    height: 27rem;
    background-color: var(--bg);
    color: var(--color);
}

.window-wrapper:nth-child(1) {
    --bg: var(--primary-yellow);
    --color: var(--primary-blue);
    --border: #96ced97a;
}

.window-wrapper:nth-child(2) {
    --bg: var(--primary-blue2);
    --color: var(--primary-yellow);
    /* --bg: var(--primary-yellow);
    --color: var(--primary-blue); */
    --border: #fbde24b6;
}

.window-wrapper:nth-child(3) {
    --bg: var(--primary-yellow);
    --color: var(--primary-blue);
    --border: #96ced97a;
}

.window--more {
    /* border: 1px solid var(--text-color); */
    background-color: rgb(0, 0, 0, 0.25);
    padding: 0 1.5em;
    /* max-width: 0;
    overflow: hidden; */
}

.window--more .window__content {
    font-weight: 400;
    letter-spacing: 0.02rem;
    width: 16rem;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

/* .window-wrapper:nth-child(2) {
    --bg: #5a140d;
    --color: #f0a1b7;
    --border: #f0a1b77a;
}

.window-wrapper:nth-child(3) {
    --bg: #356660;
    --color: #e45245;
    --border: #e452457a;
} */

.window-wrapper::before {
    content: '';
    position: absolute;
    --margin: 1rem;
    top: var(--margin);
    left: var(--margin);
    display: block;
    width: calc(100% - var(--margin) * 2 - 3px);
    height: calc(100% - var(--margin) * 2 - 3px);
    border: 1.5px solid var(--border);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.window-wrapper:nth-child(1)::before {
    background-image: url(../assets/images/pattern1.svg);
}

.window-wrapper:nth-child(2)::before {
    background-image: url(../assets/images/pattern2.svg);
}

.window-wrapper:nth-child(3)::before {
    background-image: url(../assets/images/pattern3.svg);
}

.window__content {
    position: absolute;
    bottom: 3rem;
    display: block;
    width: 100%;
    text-align: center;
    color: var(--color);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    z-index: 150;
}

.window__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    padding: 0 3rem;
}

.window__author {
    margin-top: .2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* .hero__heading > div,
.hero__heading > div > div {
    display: block !important;
} */

.hero__tagline {
    margin: 1.5rem auto 0;
    padding-bottom: 0.8rem;
    /* border-bottom: 1px solid currentColor; */
    width: 99%;
    display: flex;
    justify-content: space-between;
}

/* .hero__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 25px;
    justify-content: space-between;
    height: 800px;
}

.bg__img {
    position: absolute;
    left: -40%;
    top: 0;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
}

.bg__line {
    display: block;
    height: 0;
    border-bottom: 2px solid var(--border-color3);
    transform-origin: left;
}

.hero__line {
    display: block;
    width: 0;
    border-right: 2px solid var(--border-color3);
    transform-origin: top;
}

.hero__cap {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border: 30px solid var(--dark-orange);
    border-width: 50px 30px;
    border-color: var(--dark-orange) transparent transparent transparent;
    transform: translateX(-50%) translateY(50%);
    transform-origin: top;
} */

.body-wrapper {
    position: relative;
    background-color: var(--body-bg);
    z-index: 100;
}

/* Section 2 */

.section2 {
    padding: 5rem 3rem 0;
    border-top: 1px solid var(--text-color);
    background-color: var(--body-bg);
    position: relative;
}

.section2 .featured__inner {
    /* margin-top: 5rem; */
    display: flex;
}

.section2 .section__heading {
    margin-bottom: 1rem;
}

.section2__tag {
    color: var(--primary-blue);
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.section2__body {
    display: flex;
    justify-content: center;
}

.section2__content {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.section2__content > p {
    line-height: 1.8;
}

.section2__img {
    width: 60rem;
    height: 22rem;
    background-image: url(../assets/images/old_shanghai.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}

/* Section 3 */

.section3 {
    margin-top: 10rem;
    width: 105%;
    padding: 0 3rem calc(1.5rem + 2vw);
    /* background-image: url(../assets/images/pattern7.svg); */
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50rem;
}

.section3 .section__body {
    display: flex;
    justify-content: center;
}

.section3 .section__sidebar {
    z-index: -1;
}

.section3 .section__sidebar {
    height: 30rem;
}

.intro__year {
    display: block;
}

@font-face {
    font-family: "Girona";
    src: url("../assets/fonts/Girona.woff2") format("woff2");
}

.btn--load {
    /* margin-left: auto; */
    margin-top: 2rem;
}
