.anim-bg {
    position: absolute;
    /* width: min(35rem, 40%); */
    height: calc(100% + 10rem);
    aspect-ratio: 9 / 16;
    top: -5rem;
    /* right: -3rem; */
    left: 50%;
    background-image: radial-gradient(circle at bottom left, #9eb0ff, 60%, #b8d1e7);
    transform: translateX(-50%);
    z-index: -1
}

.bg__circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: min(100%, 30rem);
    aspect-ratio: 1;
    border: 1.5px solid var(--text-color);
    border-radius: 50%;
}

/* .hero-section {
    position: fixed;
    top: 0;
    min-height: 100vh;
}

.hero-section + * {
    margin-top: 100vh;
} */

.hero__top {
    position: relative;
    margin: 0 auto 3rem;
    width: max-content;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 150;
}

.hero__heading {
    position: relative;
    width: max-content;
    font-size: clamp(5rem, 2.6vw + 2.6rem, 8rem);
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 1;
    user-select: none;
    z-index: 60;
}

.hero__clip {
    position: absolute;
    color: var(--primary-blue);
    -webkit-text-stroke-width: 1px;
    clip-path: inset(0 20% 0 38.5%);
    z-index: 200;
}

.window-gallery {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.window-wrapper {
    position: relative;
    display: block;
    width: 20rem;
    height: 28rem;
    background-color: var(--bg);
    color: var(--color);
}

.window-wrapper:nth-child(1) {
    --bg: var(--primary-yellow);
    --color: var(--primary-blue);
    --border: #96ced97a;
}

.window-wrapper:nth-child(2) {
    --bg: var(--primary-blue);
    --color: var(--primary-yellow);
    --border: #fbde247a;
}

.window-wrapper:nth-child(3) {
    --bg: var(--primary-yellow);
    --color: var(--primary-blue);
    --border: #96ced97a;
}

/* .window-wrapper:nth-child(2) {
    --bg: #5a140d;
    --color: #f0a1b7;
    --border: #f0a1b77a;
}

.window-wrapper:nth-child(3) {
    --bg: #356660;
    --color: #e45245;
    --border: #e452457a;
} */

.window-wrapper::before {
    content: '';
    position: absolute;
    --margin: 1rem;
    top: var(--margin);
    left: var(--margin);
    display: block;
    width: calc(100% - var(--margin) * 2 - 3px);
    height: calc(100% - var(--margin) * 2 - 3px);
    border: 1.5px solid var(--border);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.window-wrapper:nth-child(1)::before {
    background-image: url(../assets/images/pattern.svg);
}

.window-wrapper:nth-child(2)::before {
    background-image: url(../assets/images/pattern5.svg);
}

.window-wrapper:nth-child(3)::before {
    background-image: url(../assets/images/pattern6.svg);
}

.window__content {
    position: absolute;
    bottom: 3rem;
    display: block;
    width: 100%;
    text-align: center;
    color: var(--color);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    z-index: 150;
}

.window__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
}

.window__author {
    margin-top: .2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* .hero__heading > div,
.hero__heading > div > div {
    display: block !important;
} */

.hero__tagline {
    margin: 1.5rem auto 0;
    padding-bottom: 0.8rem;
    /* border-bottom: 1px solid currentColor; */
    width: 99%;
    display: flex;
    justify-content: space-between;
}

/* .hero__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 25px;
    justify-content: space-between;
    height: 800px;
}

.bg__img {
    position: absolute;
    left: -40%;
    top: 0;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
}

.bg__line {
    display: block;
    height: 0;
    border-bottom: 2px solid var(--border-color3);
    transform-origin: left;
}

.hero__line {
    display: block;
    width: 0;
    border-right: 2px solid var(--border-color3);
    transform-origin: top;
}

.hero__cap {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border: 30px solid var(--dark-orange);
    border-width: 50px 30px;
    border-color: var(--dark-orange) transparent transparent transparent;
    transform: translateX(-50%) translateY(50%);
    transform-origin: top;
} */

/* Section 2 */

.section2 {
    background-color: var(--body-bg);
    position: relative;
}

.section2 .section__body {
    display: flex;
    justify-content: center;
}

.section2 .section__sidebar {
    z-index: -1;
}

.section2 .section__sidebar {
    height: 30rem;
}

.intro__year {
    display: block;
}

@font-face {
    font-family: "Girona";
    src: url("../assets/fonts/Girona.woff2") format("woff2");
}

.btn--load {
    /* margin-left: auto; */
    margin-top: 2rem;
}

/* Section 3 */

.section3 {
    margin-top: 10rem;
    width: 105%;
    background-color: var(--primary-yellow);
    padding-bottom: calc(1.5rem + 2vw);
    /* background-image: url(../assets/images/pattern7.svg); */
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50rem;
}

.section3 .featured__inner {
    /* margin-top: 5rem; */
    display: flex;
}

.featured__ch {
    flex: 1;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 1.5em 2em 2em;
    /* border: 1px solid var(--primary-blue); */
}

.featured__ch + .featured__ch {
    border-left: 1px solid var(--primary-blue);
}

.featured__ch .line2-mask,
.featured__ch .line3-mask {
    margin-top: 0.5em;
}

.ch__inner {
    padding: 1.5em 1em;
}

.ch__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ch__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* .ch__author {
    font-family: "Josefin Sans", sans-serif;
} */

/* Other */

.section4 {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.hetero__heading {
    font-size: 3rem;
}

.hetero__intro {
    width: 50rem;
    max-width: 95%;
    font-family: 'Mate', serif;
}

.hetero__list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0;
    padding: 1em;
    border: 1px solid currentColor;
    border-width: 1px 0;
}

.hetero__name {
    font-size: 0.9rem;
    color: var(--text-color);
    text-decoration: none;
}