---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css";
---

<BaseLayout>
    <article class="article">
        <h1>About Metamorphosis</h1>
        <p>
            “Remembrance of things past is not necessarily the remembrance of
            things as they were.” - Marcel Proust
        </p>
        <p>
            Capturing the past in the spirit of the present - this is the idea
            that gave birth to <em>The Metamorphosis</em>.
        </p>
        <p>
            There is something terribly final in putting thoughts into
            words, because we are so used to seeing words as vehicles for
            eternity. Someone once told me that I should not write and publish
            stories until I'm forty, because only with time comes maturity, and time would make me blush at my youthful ramblings. Someone else told me I should not write at all -
            if I wanted to change the world I should run for the mayor. I
            disagree with both views; the former overestimates the indelibility
            of words, while the latter sees only transience. Proust would tell
            us that our minds are continually changing, and nothing is as
            it seems. All the better that we should record the impressions we
            have of the past and present, lest we lose touch with ourselves.
        </p>
        <p>
            The word metamorphosis evokes change, fear, beauty. There is also a degree of frustration, a tempestuous moment when we flounder between the phases. In these times, we often find a greater degree of self-expression in dreams. If dreaming is hazardous, then we can only dream a little more, open up our minds to the diverse cast of characters that linger somewhere between the past, the present, and future.
        </p>
        <p>
            This magazine was founded with the belief that this is not a solitary journey - far from it. In our collective minds there are great upheavals, great joys, and great sorrows. In our individual metamorphoses we need not forget the metamorphoses of the world. Here we record these metamorphoses without discrimination, acknowledging the co-existence of transience and eternity. Our words are not a camera that seeks to freeze the poetry of life.  We do not aspire toward exactitude. We live in motion.
        </p>
        <p>By design, there is no one form or theme for <em>The Metamorphosis</em>. Write your own stories and characters; contribute to existing collections or create a new one. We include all literary works that embrace and preserve change - whether it's personal or communal, imaginary or realist. Multimedia is welcomed.</p>
    </article>
</BaseLayout>
