---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css";
---

<BaseLayout>
    <article class="article">
        <h1>For contributors</h1>
        <p>
            Thank you for your interest in contributing! <em>The Metamorphosis</em> is not released in issues. We accept individual stories, contributions to collections, and even your own collections. There are no limitations on form and style; multimedia is welcomed.
        </p>
        <p>
            The magazine publishes original stories by young writers that address in some way the tide of change - whether a personal change or a change in the fabric of our communities. A pivotal moment or a gradual adaptation. Or perhaps the sampling of different identities as we come to understand who we are. Both the beautiful and the grotesque are welcomed. All fairytales are true, but so are odyssies of the mind. For more about the conception and philosophies of <em>The Metamorphosis</em>, please visit <a href="/about">the about page</a>.
        </p>
        <p>
            At the moment, our magazine is in its very early stages. We are still working on a dedicated submission portal. If you would like to contribute stories, collections, or ideas, please email them to <a href="mailto:metamorphmag@gmail.com">metamorphmag@gmail.com</a>. We welcome and encourage the use of descriptive pen names (though we prefer the term 'heteronyms') that in some way relate to the voice of your writing. There are no costs for submitting.
        </p>
        <p>
            We are also looking for volunteers for the behind-the-scenes running of the magazine. If you would like to be involved in editing, promotion, or design, please do not hesitate to contact us.
        </p>
        <p>
            Finally, we appreciate all comments, insights, and thoughts. The growth and development of our magazine cannot dispense with your ideas for change!
        </p>
    </article>
</BaseLayout>
