---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/index/FeaturedPosts.astro";
import * as collection1 from "./collections/ekphrasis.md";
import * as collection2 from "./collections/folktales_of_the_east.md";
import * as collection3 from "./collections/exiles.md";

import "../styles/index.css";

/* const collections = Object.values(
	import.meta.glob("./collections/*.md", { eager: true }),
); */

const collections = [collection1, collection2, collection3];
---

<BaseLayout>
	<section class="section hero-section">
		<div class="hero__left">
			<div class="left__inner">
				<div class="left__content">
					<h1 class="left__heading">
						An introduction and a beginning
					</h1>
					<p class="left__quote">
						"I have in me all the dreams of the world" - Fernando
						Pessoa
					</p>
					<p>In metamorphoses, there is both horror and beauty.</p>
					<p>But stasis is the most dreadful state of all.</p>
					<p>When we are young, our lives are continuously in flux.</p>
					<p>At each of these stages of change, we have a unique story to tell.</p>
					<p>
						Here we seek and present these stories, as well as the
						alter-egoes of your imagination (be they bugs or men)
						that form the dramatis personae of our many
						metamorphoses.
					</p>
					<br/>
					<p>Submit to <a href="mailto:metamorphmag@gmail.com" class="hero__contact">metamorphmag@gmail.com</a></p>
				</div>
			</div>
		</div>
		<div class="hero__right">
			<div class="hero__top">
				<h1 class="anim hero__heading">
					The<br />Metamo<br />rphosis
				</h1>
				<h1 class="hero__heading2">Featured collections</h1>
				<div class="hero__desc">
					A magazine for young writers<br />
					A portrait of change: past and present
				</div>
			</div>
			<div class="window-gallery">
				{
					collections.map((col: any, i) => (
						<a href={col.url} class="window-wrapper">
							<div class="window__content">
								<div class="window__title">
									{col.frontmatter.title}
								</div>
								<div class="window__author">
									{col.frontmatter.author}
								</div>
							</div>
						</a>
					))
				}
		</div>
	</section>
	<div class="body-wrapper">
		<section id="feature-section" class="section section2">
			<div class="section__inner">
				<h1 class="section__heading">Upcoming Collection</h1>
				<div class="section2__tag">Changing Communities</div>
				<div class="section2__body">
					<div class="section2__content">
						<p>
							Change is nothing new. In fact it has been a constant since the beginning of the universe. What is new is the alarming speed at which change is eradicating the past of our communities. In some cases, the past is literally buried, and only recently have we dug it up again and put it in museums, where thousands look upon its art, pottery and everyday objects with admiration.  But we need not mount a butterfly in a glass case in order to remember it. Sometimes we do not need a physical specimen of a butterfly at all. In this collection, we present multimedia portfolios of sights, sounds, and memories recorded from careful investigations into our communities' past - an old bridge, abandoned structures, a closed stall, peeling paint on a wall... Fleeting impressions that, like butterflies, embody both fragility and beauty. All this is made personal, with poetry, fiction, even art.
						</p>
						<a href="/contribute" class="link--btn btn--load">Contribute</a>
					</div>
				</div>
			</div>
		</section>
		<section id="story-section" class="section section3 section--2c">
			<div class="section__inner">
				<h1 class="section__heading">Featured stories</h1>
				<div class="section__body">
					<div class="section__main section3__featured">
						<FeaturedPosts />
						<a href="/stories" class="link--btn btn--load">More stories</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
