---
import BaseLayout from "../layouts/BaseLayout.astro";
import FeaturedPosts from "../components/index/FeaturedPosts.astro";
import FeaturedCharacters from "../components/index/FeaturedCharacters.astro";

import "../styles/index.css";

const masthead = "The Metamorphosis";

/* const featuredNames = [
	"Poet Baudelaire",
	"Artist Winterhalter",
	"Itinerant Shepherd",
	"Traveller",
	"Nihilist Ippolit",
	"Violinist Sarasate",
];

const lenStep = 5;
const lineLen = [];
for (let llen = 100 - 10 * lenStep; llen <= 100; llen += lenStep)
	lineLen.push(llen);

lineLen.push(...lineLen.toReversed().slice(1)); */
---

<BaseLayout>
	<section class="section hero-section">
		<div class="hero__top">
			<!-- <div class="hero__img">
				{lineLen.map(llen => (
					<div class="hero__line" style={{height: llen + '%'}} />
				))}
				<div class="hero__cap" />
			</div> -->
			<h1 class="anim hero__heading">
				{masthead}
			</h1>
			<h1 class="hero__heading hero__clip">
				{masthead}
			</h1>
		</div>
		<div class="window-gallery">
			<a href="#" class="window-wrapper">
				<div class="window__content">
					<div class="window__title">No Name's Land</div>
					<div class="window__author">Eliot Winterhalter</div>
				</div>
			</a>
			<a href="#" class="window-wrapper">
				<div class="window__content">
					<div class="window__title">Wanderlust</div>
					<div class="window__author">Traveller</div>
				</div>
			</a>
			<a href="#" class="window-wrapper">
				<div class="window__content">
					<div class="window__title">Folk tales of the east</div>
					<div class="window__author">Eliot Winterhalter</div>
				</div>
			</a>
		</div>
		<!-- <div class="hero__featured">
			<FeaturedPosts />
			<a href="#" class="link--btn btn--load">More stories</a>
		</div> -->
	</section>
	<section id="story-section" class="section section2 section--2c">
		<div class="section__inner">
			<h1 class="section__heading">Featured stories</h1>
			<div class="section__body">
				<!-- <div class="bg__img">
					{lineLen.map(llen => (
						<div class="bg__line" style={{width: llen + '%'}} />
					))}
					<div class="bg__cap" />
				</div> -->
				<div class="section__main section2__featured">
					<FeaturedPosts />
					<a href="#" class="link--btn btn--load">More stories</a>
				</div>
			</div>
		</div>
	</section>
	<section id="story-section" class="section section3">
		<div class="section__inner">
			<h1 class="section__heading">Dramatis Personae</h1>
			<div class="section__body">
				<div class="section3__intro">

				</div>
				<div class="section__main section3__featured">
					<div class="featured__inner">
						<FeaturedCharacters />
					</div>
					<a href="#" class="link--btn btn--load">More characters</a>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
