<footer class="footer">
    <p>Prospective contributor? Learn more <a href="/contribute">here</a>, or take a look at <a href="/about">our about page</a>.</p>
    <p>Contact us at <a href="mailto:metamorphmag@gmail.com">metamorphmag@gmail.com</a></p>
</footer>