<header class="header">
    <navigation class="nav">
        <a href="/" class="nav__index nav__link">
            The Metamorphosis
        </a>
        <div class="nav__right">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav__links">
                <a href="#" class="link nav__link">Stories</a>
                <a href="#" class="link nav__link">Characters</a>
                <a href="/about" class="link nav__link">About</a>
                <div class="nav__search">
                    <button class="nav__search-btn"></button>
                </div>
            </div>
        </div>
    </navigation>
</header>