---
import * as featuredPost1 from "../../pages/posts/1_magazine_intro.md";
import * as featuredPost2 from "../../pages/stories/1_no_mans_land.md";
import * as featuredPost3 from "../../pages/stories/3_the_dragons_ascension.md";
import * as featuredPost4 from "../../pages/stories/4_water_and_silver.md";

const featuredLinks = [
    featuredPost1,
    featuredPost2,
    featuredPost3,
    featuredPost4,
];

---

{
    featuredLinks.map(({ url, frontmatter }, i) => (
        <a href={url ? url : "#"} class="featured__post">
            <p class="fpost__date">
                {new Date(frontmatter.date).toLocaleDateString()}
            </p>
            <div class="fpost__title">
                {frontmatter.title}
                <div class="post__arrow" />
            </div>
            <p class="fpost__author">
                by{" "}
                {/* <a href="#" class="link"> */}
                    {frontmatter.author}
                {/* </a> */}
            </p>
            <p class="fpost__desc">
                {frontmatter.description}
            </p>
        </a>
    ))
}
